streamlit
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.2
chromadb==0.5.0
sentence-transformers
pdfplumber
pytesseract
pdf2image
langchain-google-genai==1.0.3
langchain-openai==0.1.6
ragas==0.1.7
pydantic
Pillow
datasets
torchvision
pysqlite3-binary
